<p>hi</p>


  <ul>
  <% @business.each do |b| %>
  <li><%= b.name %></li>
  <% end %>
  </ul>

   <% @business.each do |s| %>
       <%= link_to(business_path(s.id), class: "col-xs-12 col-sm-4") do %>
       <div class="card-index">
          <h4 style="color: black"><%= s.name %> </h4>
          <h4> <%= s.address %></h4>
       </div>
       <% end %>
      <% end %>
