

<div class="container" style="margin-top: 0px; margin-bottom: 60px;">

<h1 style="margin-top: 0px;"> Your Bookings </h1>
<div class="bookings">
<h1><center> You have <%=@bookings.size %> Bookings </center></h1>
</div>
  <div class="col-sm-6 col-sm-offset-3">
    <div id="calendar"></div>
  </div>
</div>


<%= content_for (:after_js) do %>
  <script>
    $('#calendar').fullCalendar({
      events: '<%= business_bookings_path(format: :json) %>'
    });
  </script>
<% end %>
