<div class="container">
  <div class="row">

       <div class="card">
          <ul>
          <li><%= @booking.email %></li>
          <li><%= humanized_money_with_symbol(@booking.price) %></li>
          <li><%= @booking.status %></li>
          </ul>
       </div>
  </div>
</div>
