<div class="container">
  <div class="row">
    <% @booking.each do |s| %>

       <div class="card">
          <ul>
          <li><%= s.email %></li>
          <li>£<%= s.price %></li>
          <li><%= s.status %></li>
          </ul>
       </div>
       <% end %>
  </div>
</div>
