<h1>Online payment for booking <%= @booking.id %></h1>
<%= form_tag business_booking_payments_path(business: @business) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@booking.price) %></span>
    </label>
  </article>



<% end %>
