.banner {
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}

.banner-content {
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  padding: 40px;

  h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}
