.banner {
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.banner-home {
  height: 100vh;
}

.banner-content {
  text-align: center;
  min-height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  padding: 40px;

  h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 35px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 32px;
    opacity: 1;
    margin-top: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }
  .btn {
    font-size: 25px;
    padding: 15px 40px;
  }
}
