.form-container {
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 20px;
  margin: 150px auto;
  h2 {
    margin-top: 0;
  }
  .btn {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 17px;
  }
}
